[submodule "bundle/vim-mac-classic-theme"]
	path = bundle/vim-mac-classic-theme
	url = https://github.com/nelstrom/vim-mac-classic-theme.git
[submodule "bundle/vim-blackboard"]
	path = bundle/vim-blackboard
	url = https://github.com/nelstrom/vim-blackboard.git
